<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Product Manager</title>
</head>
<body>
	<div align="center">
		<h1>Product Manager</h1>
		<a href="newcat">Create New Category</a> <br />
		<br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Category ID</th>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${listProducts2}">
				
					<td th:text="${category.catId}">Product ID</td>
					<td th:text="${category.name}">Name</td>
					<td>
						<a th:href="@{'/editcat/' + ${category.catId}}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/deletecat/' + ${category.catId}}">Delete</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{/showlistpro(catid=${category.catId})}">ShowlistPro</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>